:root {
  --black: rgba(0, 0, 0, 1);
  --delta: rgba(162, 162, 162, 1);
  --tart-orange: rgba(249, 86, 69, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxxs: 12px;
  --font-size-xxs: 17px;
  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 22px;
  --font-size-l: 25px;
  --font-size-xl: 26px;
  --font-size-xxl: 35px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 60px;
  --font-size-xxxxxl: 63px;
  --font-size-xxxxxxl: 70px;
  --font-size-xxxxxxxl: 82px;
  --font-size-xxxxxxxxl: 100px;
  --font-size-xxxxxxxxxl: 128px;
  --font-size-xxxxxxxxxxl: 187px;
  --font-size-xxxxxxxxxxxl: 203px;
  --font-size-xxxxxxxxxxxxl: 209px;
  --font-size-xxxxxxxxxxxxxl: 235px;
  --font-size-xxxxxxxxxxxxxxl: 272px;
  --font-size-xxxxxxxxxxxxxxxl: 307px;

  --font-family-barlow: "Barlow";
  --font-family-montserrat: "Montserrat";
}
